.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 22px;
}

.search{
    border-radius: 30px;

    background-color: gray;
    color: white;
}

.close{
    margin: 0 10px;
    cursor: pointer;
}