*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #284b63;
}

TodoList{
    width: 100px;
}

.todo-app{
    background-color: transparent;
    width: 500px;
    height: 95vh;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 30px 3px black;
}

h1{
    color:white;
    margin-bottom: 20px;
}

.todo-row{
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.critical{
    background-color: red;
}

.normal{
    background-color: gray;
}

.info{
    background: green;
}

.icons{
    cursor: pointer;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.delete-icon{
    margin: 0px 5px;
}
.edit-icon{
    margin: 0px 5px;
}

.date{font-size: 11px;}